<html>
<head>
    <link rel="stylesheet" href="style.css" />
</head>

<body>
<header>
    <a href="#">Mon site</a>
</header>
    <main>

    <img
        srcset="
        ../landscape-500px.jpg 500w,
        ../landscape-800px.jpg 800w,
        ../landscape-1200px.jpg 1200w,
        ../landscape-1920px.jpg 1920w,
        "

        sizes="
        (max-width: 500px) 500px,
        (max-width: 800px) 800px,
        (max-width: 1200px) 1200px,
        1920px
        "

        src="../landscape-1920px.jpg" alt="" />

    <section>

    </section>
</main>
</body>
</html>