* {
    margin: 0;
    padding: 0;
}

header {
    padding: 30px 10%;
    background-color: #24252a;
}

header a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    margin-top: 15px;
}

img {
    width: 100%;
}