<html>
<body>

<iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/jA8aHSMZ_DI?autoplay=1&mute=1"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
		autoplay
        allowfullscreen>
</iframe>
<br/><br/>
Remarque : l'autoplay n'est possible que si la vidéo a le son coupée au début.
<br/>
L'autoplay est déconseillé car le navigateur va effetuer des requêtes régulières à Google pour charger tout le contenu de la vidéo en streaming.

</body>
</html>